body{
	margin: 0;

}

#landingpt{
	background-image: url("b1.jpg");
	 background-attachment: fixed;
	margin: 0;

	height: 500px;
}
ul.ul1 {
    list-style-type: none;
    margin-top:0;
    padding: 0;
    overflow: hidden;
    background-color: #c4e0e800;

}
ul.ul1 img{
	float: left;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	padding-left: 10%;
	padding-right: 10%;

}
li.ul1 {
    float: right;
}
li.ul1 {
    float: right;

}
li.ul1 a {
    display:block;
    color: #484725fc;
    font-size: 25px;
    text-align: center;
    padding: 50px 10px 50px 10px;
    margin-right: 30px;
    text-decoration: none;
}
li.ul1 a:hover {
    background-color: #ececec00;
     color: white;
     font-size: 30px;
}
.blogpic{
	width: 150px;
	height: 150px;
	border-radius: 50%;

}

h1{
	color:#0aa3e2;
	font-size: 40px;
}
h4{
	font-size: 20px;
}
h3{
	font-family: sans-serif;
	letter-spacing: 1px;
	font-style: italic;
}
small{
	color:red;
}